{{- if and (eq .chezmoi.os "linux") (hasKey .linux "user") -}}
#!/usr/bin/env bash
{{ $os := .chezmoi.os -}}
{{ $pkgs := get (get (get . $os) "user") "packages" }}
{{- range $pkgmngr, $value := $pkgs -}}
{{ if eq $pkgmngr "asdf" }}
. ~/.asdf/asdf.sh
{{ range $name, $url := $value.plugins -}}
asdf plugin-add {{ $name }} {{ $url }}
{{ end }}
{{ range $pkg := $value.apps -}}
asdf install {{ $pkg }} latest
{{ end -}}
{{ range $pkg := $value.apps -}}
asdf global {{ $pkg }} latest
{{ end -}}
{{ else if eq $pkgmngr "homebrew" }}
brew install \
  {{ $value.brew | join " \\\n  " }}
{{ if eq $os "darwin" }}
brew install --cask \
  {{ $value.cask | join " \\\n  " }}
{{ end -}}
{{ else }}
{{ or $value.extraPreInstall "" -}}
{{ $value.installCmd }} \
  {{ $value.options | join " \\\n  " }} \
  {{ $value.apps | join " \\\n  " }}
{{ or $value.extraPostInstall "" -}}
{{ end -}}

{{ end -}}
{{ end -}}
