{{- $os := .chezmoi.os -}}
{{- $osConfig := or (get . $os) dict -}}

{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get (or (get $osConfig "hosts") dict) $hostName) dict -}}
{{- $hostSopsConfig := or (get $hostConfig "sops") dict -}}

{{- $userName := .chezmoi.username -}}
{{- $userConfig := or (get (or (get $osConfig "users") dict) $userName) dict -}}
{{- $userSopsConfig := or (get $userConfig "sops") dict -}}

{{- $sopsFiles := merge $hostSopsConfig $userSopsConfig -}}
{{- $chezmoiSrcDir := .chezmoi.sourceDir -}}
#!/usr/bin/env bash

function logging() {
  echo "$(basename $0): $*"
}

_PATH="$HOME/.local/bin"
if [ -d "$HOME/.local/share/mise/installs/sops"  ]; then
  _PATH="$(find "$HOME/.local/share/mise/installs/sops" -type f -name sops -exec dirname {} \; | sort -u | head -n1):$_PATH"
fi

export PATH="$_PATH:$PATH"

{{ if not (empty $sopsFiles) -}}
logging "Start"
if command -v sops &>/dev/null; then
  {{ range $src, $tgt := $sopsFiles }}
  logging "Decrypting {{ $src }}"
  mkdir -p $(dirname {{ $tgt }})
  sops decrypt "{{ $chezmoiSrcDir }}/../sops/{{ $src }}" > "{{ $tgt }}"
  {{ end }}
else
  logging "'sops' is not in PATH"
fi

logging "Finish"
{{ end -}}
