{{- $os := .chezmoi.os -}}
{{- $osConfig := or (get . $os) dict -}}

{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get (or (get $osConfig "hosts") dict) $hostName) dict -}}
{{- $hostMiseConfigs := or (get (or (get $hostConfig "packages") dict) "mise") dict -}}

{{- $userName := .chezmoi.username -}}
{{ if eq .chezmoi.os "windows" }}
{{- $userName = trimPrefix (print (upper .chezmoi.hostname) "/") $userName -}}
{{- end -}}
{{- $userConfig := or (get (or (get $osConfig "users") dict) $userName) dict -}}
{{- $userMiseConfigs := or (get (or (get $userConfig "packages") dict) "mise") dict -}}

# mise settings defined on the host take priority
[tools]
{{ $miseTools := merge (or (get $hostMiseConfigs "tools") dict) (or (get $userMiseConfigs "tools") dict) -}}
{{ toToml $miseTools }}

[plugins]
{{ $miseTools := merge (or (get $hostMiseConfigs "plugins") dict) (or (get $userMiseConfigs "plugins") dict) -}}
{{ toToml $miseTools }}

[settings]
{{ $miseSettings := merge (or (get $hostMiseConfigs "settings") dict) (or (get $userMiseConfigs "settings") dict) -}}
{{ toToml $miseSettings }}
