{{- $userName := .chezmoi.username -}}
{{- $userConfig := or (get .apps.users $userName) dict -}}
{{- $gitConfig := or (get $userConfig "git") dict -}}
{{- if not (empty $gitConfig) -}}
[commit]
    template = "~/.config/git/message"

[core]
    paper = {{- $gitConfig.paper | quote }}

[filter "lfs"]
    clean = "git-lfs clean -- %f"
    process = "git-lfs filter-process"
    required = true
    smudge = "git-lfs smudge -- %f"

[init]
    defaultBranch = "main"

[interactive]
    diffFilter = {{- $gitConfig.diffFilter | quote }}

[user]
    email = {{- $gitConfig.email | quote }}
    name = {{- $gitConfig.name | quote }}
{{- end -}}
