{{- $userName := .chezmoi.username -}}
{{ if eq .chezmoi.os "windows" }}
{{- $userName = trimPrefix (print (upper .chezmoi.hostname) "\\") $userName -}}
{{- end -}}
{{- $userConfig := or (get .apps.users $userName) dict -}}
{{- $gitConfig := or (get $userConfig "git") dict -}}
{{- $deltaGitSettings := or (get (or (get $userConfig "delta") dict) "git") dict -}}
{{- if not (empty $gitConfig) -}}
[commit]
    template = "~/.config/git/message"
    gpgSign = {{ $gitConfig.signing.signByDefault }}

[filter "lfs"]
    clean = "git-lfs clean -- %f"
    process = "git-lfs filter-process"
    required = true
    smudge = "git-lfs smudge -- %f"

[gpg]
    format = {{ $gitConfig.signing.format | quote }}

[tag]
    gpgSign = {{ $gitConfig.signing.signByDefault }}
{{ range $name, $settings := merge (or (get $gitConfig "settings") dict) $deltaGitSettings }}
[{{ $name }}]
    {{- range $key, $value := $settings }}
    {{ $key }} = {{ $value | quote }}
    {{- end }}
{{ end }}
{{- end -}}
