git:
  paging:
    paper: {{- .apps.lazygit.paper | quote }}
gui:
  theme:
    selectedLineBgColor:
      - default
    selectedRangeBgColor:
      - default
os:
  editCommand: nvim
refresher:
  refreshInterval: 3
