[apps.users.sumi]

[apps.users.sumi.delta]
[apps.users.sumi.delta.git]
[apps.users.sumi.delta.git.core]
paper = "delta"
[apps.users.sumi.delta.git.interactive]
diffFilter = "delta --color-only"
[apps.users.sumi.delta.git.delta]

[apps.users.sumi.git]
[apps.users.sumi.git.settings.user]
email = "s.kobayashi@misumi-sumi.com"
name = "misumisumi"
[apps.users.sumi.git.settings.alias]
tree = "log --graph --oneline --decorate --all"                                           # logのツリー表示
co-fixup = "commit --fixup"
push-f = "push --force-with-lease"                                                        # pushの強制 (ローカルが最新で無い場合失敗する)
rebase-i = "rebase -i --autosquash"                                                       #
branch-clear = "!git branch --merged origin/HEAD | grep -vE 'HEAD' | xargs git branch -d"
rebase-origin = "!git fetch origin --prune && git rebase origin/HEAD"
[apps.users.sumi.git.signing]
key = "2C0E62B7117471A5"
format = "openpgp"
signByDefault = false

[apps.users.sumi.lazygit]
paper = "delta --dark --paging=never"

[apps.users.sumi.gemini-cli]
defaultModel = "gemini-2.5-flash"
[apps.users.sumi.gemini-cli.settings]
[apps.users.sumi.gemini-cli.settings.general]
vimMode = true
disableAutoUpdate = true
disableUpdateNag = true
[apps.users.sumi.gemini-cli.settings.ui]
theme = "GitHub"
useAlternateBuffer = true
[apps.users.sumi.gemini-cli.settings.security]
[apps.users.sumi.gemini-cli.settings.security.auth]
selectedType = "gemini-api-key"

# MCP Servers settings
[apps.users.sumi.mcp.mcpServers]
[apps.users.sumi.mcp.mcpServers.github]
command = "github-mcp-server"
args = ["stdio", "--dynamic-toolsets"]
[apps.users.sumi.mcp.mcpServers.github.env]
GITHUB_PERSONAL_ACCESS_TOKEN = "${GITHUB_PAT}"
[apps.users.sumi.mcp.mcpServers.paper_search]
command = "paper-search-mcp" # wrapped command made by me
# [apps.users.sumi.mcp.mcpServers.discord]
# command = "discord-mcp" # wrapped command made by me
[apps.users.sumi.mcp.mcpServers.nixos]
command = "mcp-nixos" # wrapped command made by me
# [apps.users.sumi.mcp.mcpServers.terraform]
# command = "terraform-mcp-server" # wrapped command made by me
[apps.users.sumi.mcp.mcpServers.filesystem]
command = "mcp-server-filesystem"              # wrapped command made by me
args = ["~/Documents/", "~/Documents/memopad"]
[apps.users.sumi.mcp.mcpServers.fetch]
command = "mcp-server-fetch" # wrapped command made by me
[apps.users.sumi.mcp.mcpServers.git]
command = "mcp-server-git" # wrapped command made by me
[apps.users.sumi.mcp.mcpServers.context7]
command = "context7-mcp" # wrapped command made by me
[apps.users.sumi.mcp.mcpServers.context7.env]
CONTEXT7_API_KEY = "${CONTEXT7_API_KEY}"

[apps.users.sumi.shell]
historyIgnore = [
    "builtin *",
    "cd *",
    "history *",
    "kill *",
    "ls *",
    "mkdir *",
    "pkill *",
    "rm *",
]

[apps.users.sumi.bash]
bashrcExtra = ""
initExtra = '''
function share_history {  # 以下の内容を関数として定義
    history -a  # .bash_historyに前回コマンドを1行追記
    history -c  # 端末ローカルの履歴を一旦消去
    history -r  # .bash_historyから履歴を読み込み直す
}
PROMPT_COMMAND="share_history; ${PROMPT_COMMAND}"  # 上記関数をプロンプト毎に自動実施
'''
logoutExtra = ""
profileExtra = ""
shellOptions = [
    "-histappend",
    "checkwinsize",
    "extglob",
    "globstar",
    "checkjobs",
]
[apps.users.sumi.bash.sessionVariables]

[apps.users.sumi.zsh]
extraFunctions = ["zargs", "zmv", "zcp", "zln"]
extraModules = ["attr"]
extraOptions = [
    "EXTENDED_GLOB",     # 拡張GRUBの有効化(^: 否定、~: 除外)
    "BARE_GLOB_QUAL",    # 条件付け検索の有効化
    "MAGIC_EQUAL_SUBST", # cmd a=/to/pathの時に補完を効かせる
]

envExtra = '''
# Compatibilize with bash
export HOSTNAME=$(hostname)
'''
initExtraFirst = '''
# Calc startup time
# zmodload zsh/zprof
# zprof
'''
initExtraBeforeCompInit = ''''''
initExtra = '''
# The plugin will auto execute this zvm_after_init function
setopt EXTENDED_GLOB         # 拡張GRUBの有効化(^: 否定、~: 除外)
setopt BARE_GLOB_QUAL        # 条件付け検索の有効化
setopt MAGIC_EQUAL_SUBST     # cmd a=/to/pathの時に補完を効かせる

# bind zoxide zi to Ctrl+D
if [[ "$(whence -w __zoxide_zi | cut -d' ' -f2)" == "function" ]]; then
  zle     -N             __zoxide_zi
  bindkey -M emacs '\ed' __zoxide_zi
  bindkey -M vicmd '\ed' __zoxide_zi
  bindkey -M viins '\ed' __zoxide_zi
fi

set vi-cmd-mode-string "\1\e[?8c\2"
set vi-ins-mode-string "\1\e[?0c\2"
# For marlonrichert/zsh-autocomplete
zstyle -e ':autocomplete:history-search-backward:*' list-lines 'reply=$(( LINES / 2 ))'
zstyle ':autocomplete:*' min-delay 0.1
zstyle ':completion:*' remote-access no
zstyle ':completion:*' completer \
    _complete _complete:-fuzzy _correct _approximate _ignored
bindkey '\t' menu-select "$terminfo[kcbt]" menu-select
bindkey -M menuselect '\t' menu-complete "$terminfo[kcbt]" reverse-menu-complete
'''
[apps.users.sumi.zsh.localVariables]
ZVM_VI_INSERT_ESCAPE_BINDKEY = "jj"
ZVM_VI_VISUAL_ESCAPE_BINDKEY = "jj"
ZVM_VI_OPPEND_ESCAPE_BINDKEY = "jj"
ZVM_LINE_INIT_MODE = "$ZVM_MODE_INSERT"
ZVM_LAZY_KEYBINDINGS = false
ABBR_QUIET = 1

[apps.users.sumi.zsh.zinit]
[apps.users.sumi.zsh.zinit.plugins]
"lucid blockf depth=1 light-mode" = ["marlonrichert/zsh-autocomplete"]
"wait'0a' lucid blockf depth=1 light-mode" = [
    "atload'_zsh_autosuggest_start' zsh-users/zsh-autosuggestions",
    "atload'zvm_init; zvm_update_cursor' jeffreytse/zsh-vi-mode",
]
"wait'!0b' lucid blockf depth=1 light-mode" = [
    "zdharma-continuum/fast-syntax-highlighting",
]
"wait'!1a' lucid blockf depth=1 light-mode" = [
    "hlissner/zsh-autopair",
    "olets/zsh-abbr",
]
"wait'1c' lucid" = [
    "atload'. ./aichat.zsh' https://raw.githubusercontent.com/sigoden/aichat/refs/heads/main/scripts/completions/aichat.zsh",
]
[apps.users.sumi.zsh.zinit.prezto]
pmodules = ["helper", "spectrum"]
[apps.users.sumi.zsh.zinit.prezto.pmodulesWithModifier]
"wait'1c' lucid" = ["terminal", "directory"]
