####################################################################################################
# For linux
####################################################################################################
[apps.users."sumiharu.kobayashi"]

[apps.users."sumiharu.kobayashi".delta]
[apps.users."sumiharu.kobayashi".delta.git]
[apps.users."sumiharu.kobayashi".delta.git.core]
paper = "delta"
[apps.users."sumiharu.kobayashi".delta.git.interactive]
diffFilter = "delta --color-only"
[apps.users."sumiharu.kobayashi".delta.git.delta]

[apps.users."sumiharu.kobayashi".git]
useDelta = true
[apps.users."sumiharu.kobayashi".git.settings.user]
email = "sumiharu.kobayashi@g.softbank.co.jp"
name = "Sumiharu Kobayashi"
[apps.users."sumiharu.kobayashi".git.settings.aliases]
tree = "log --graph --oneline --decorate --all"                                           # logのツリー表示
co-fixup = "commit --fixup"
push-f = "push --force-with-lease"                                                        # pushの強制 (ローカルが最新で無い場合失敗する)
rebase-i = "rebase -i --autosquash"                                                       #
branch-clear = "!git branch --merged origin/HEAD | grep -vE 'HEAD' | xargs git branch -d"
rebase-origin = "!git fetch origin --prune && git rebase origin/HEAD"
[apps.users."sumiharu.kobayashi".git.signing]
key = ""
format = "openpgp"
signByDefault = false

[apps.users."sumiharu.kobayashi".lazygit]
paper = "delta --dark --paging=never"

[apps.users."sumiharu.kobayashi".shell]
historyIgnore = [
    "builtin *",
    "cd *",
    "history *",
    "kill *",
    "ls *",
    "mkdir *",
    "pkill *",
    "rm *",
]

[apps.users."sumiharu.kobayashi".bash]
bashrcExtra = ""
initExtra = '''
function share_history {  # 以下の内容を関数として定義
    history -a  # .bash_historyに前回コマンドを1行追記
    history -c  # 端末ローカルの履歴を一旦消去
    history -r  # .bash_historyから履歴を読み込み直す
}
PROMPT_COMMAND="share_history; ${PROMPT_COMMAND}"  # 上記関数をプロンプト毎に自動実施
'''
logoutExtra = ""
profileExtra = """
eval "$(sops decrypt $HOME/.local/share/chezmoi/sops/users/work/secrets.yaml --extract '["bash"]["profileExtra"]')"
"""
shellOptions = [
    "-histappend",
    "checkwinsize",
    "extglob",
    "globstar",
    "checkjobs",
]
[apps.users."sumiharu.kobayashi".bash.sessionVariables]


[apps.users.'BB\kobayashis1033']
[apps.users.'BB\kobayashis1033'.git]
userEmail = "sumiharu.kobayashi@g.softbank.co.jp"
userName = "Sumiharu Kobayashi"
paper = "delta"
diffFilter = "delta"
[apps.users.'BB\kobayashis1033'.git.aliases]
tree = "log --graph --oneline --decorate --all"                                               # logのツリー表示
co-fixup = "git commit --fixup"
push-f = "push --force-with-lease"                                                            # pushの強制 (ローカルが最新で無い場合失敗する)
rebase-i = "rebase -i --autosquash"                                                           #
branch-clear = "!\"git branch --merged origin/HEAD | grep -vE 'HEAD' | xargs git branch -d\""
rebase-origin = "!\"git fetch origin --prune && git rebase origin/HEAD\""
[apps.users.'BB\kobayashis1033'.git.signing]
key = ""
format = "openpgp"
signByDefault = false

[apps.users.'BB\kobayashis1033'.lazygit]
paper = "delta --dark --paging=never"
