{{- $appConfigs := .apps.users -}}
{{- $userName := .chezmoi.username -}}
{{- $userAppConfig := or (get $appConfigs $userName) dict -}}
{{- $userBashConfig := or (get $userAppConfig "bash") dict -}}

# include .profile if it exists
[[ -f ~/.profile ]] && . ~/.profile

{{ or (get $userBashConfig "profileExtra") "" }}

# include .bashrc if it exists
[[ -f ~/.bashrc ]] && . ~/.bashrc
