{{- template "bash/bashrc" . -}}

function _check_cmd() {
  command -v "$1" &>/dev/null
}

if _check_cmd brew && [ -x $(brew --prefix mise)/bin/mise ]; then
  eval "$($(brew --prefix mise)/bin/mise activate bash)"
  eval "$($(brew --prefix mise)/bin/mise completion bash)"
elif [ -x ~/.local/bin/mise ]; then
  eval "$(~/.local/bin/mise activate bash)"
  eval "$(~/.local/bin/mise completion bash --include-bash-completion-lib )"
fi


if ! shopt -oq posix; then
  if [ -f ~/.local/share/blesh/ble.sh ]; then
    . ~/.local/share/blesh/ble.sh
  elif [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

if test -n "$KITTY_INSTALLATION_DIR"; then
  export KITTY_SHELL_INTEGRATION="no-rc"
  source "$KITTY_INSTALLATION_DIR/shell-integration/bash/kitty.bash"
fi

if [[ :$SHELLOPTS: =~ :(vi|emacs): ]]; then
  if _check_cmd fzf; then
    if [ -f ~/.local/share/blesh/ble.sh ]; then
      ble-import -d integration/fzf-completion
      ble-import -d integration/fzf-key-bindings
    else
      eval "$(fzf --bash)"
    fi
  fi
  if _check_cmd navi; then
    eval "$(navi widget bash)"
  fi
fi

if [[ $TERM != "dumb" && $TERM != "linux" ]]; then
  if _check_cmd starship; then
    eval "$(starship init bash --print-full-init)"
  fi
fi

if _check_cmd chezmoi; then
  eval "$(chezmoi completion bash)"
fi

if _check_cmd zoxide; then
  eval "$(zoxide init bash )"
fi

if _check_cmd wezterm; then
  eval "$(wezterm shell-completion --shell bash)"
fi

if _check_cmd dircolors; then
  eval $(dircolors -b ~/.dir_colors)
fi

if _check_cmd brew; then
  eval "$(brew shellenv)"
fi

if _check_cmd yazi; then
  function yy() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXX")"
    yazi "$@" --cwd-file="$tmp"
    if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
      builtin cd -- "$cwd"
    fi
    rm -f -- "$tmp"
  }
fi
