{{ $hostName := .chezmoi.hostname -}}
{{ $hostPkgConfigs := or (get (or (get .windows.hosts $hostName) dict) "packages") dict -}}
{{ $hostPSConfig := or (get $hostPkgConfigs "powershell") dict -}}

{{- $userName := .chezmoi.username -}}
{{- $userPkgConfigs := or (get (or (get .windows.users $userName) dict) "packages") dict -}}
{{- $userPSConfig := or (get $userPkgConfigs "powershell") dict -}}

Write-Host "Installing PowerShell Modules ..."

{{ or (get $hostPSConfig "preCmd") "" }}
{{ or (get $userPSConfig "preCmd") "" }}

{{ range concat (or (get $hostPSConfig "modules") list) (or (get $userPSConfig "modules") list) -}}
Install-Module -Scope CurrentUser {{ . }}
{{ end }}

Write-Host "Installing PowerShell Scripts ..."
{{ range concat (or (get $hostPSConfig "scripts") list) (or (get $userPSConfig "scripts") list) -}}
Install-Scripts -Scope CurrentUser {{ . }}
{{ end }}

{{ or (get $hostPSConfig "postCmd") "" }}
{{ or (get $userPSConfig "postCmd") "" }}
Write-Host "Finish installing powershell modules and scripts!"
