{{ if and (eq .chezmoi.os "windows") (hasKey .windows "user") -}}

Write-Host "Installing PowerShell Modules ..."
{{ range .windows.user.packages.powershell.modules -}}
Install-Module -Force -Scope CurrentUser {{ . }}
{{ end }}

Write-Host "Finish installing powershell modules!"
{{ end }}
