{{ if eq .chezmoi.os "windows" -}}
{{- $hostname := .chezmoi.hostname -}}

if (Get-Command * | Where-Object { $_.Name -match "winget" }) {
  {{ range $key, $value := (get .windows $hostname).packages.winget.sources -}}
  winget source add {{ $key }} {{ $value }}
  {{ end -}}
  {{ range $key, $value := .windows.user.packages.winget.sources -}}
  winget source add {{ $key }} {{ $value }}
  {{ end -}}
  {{ or (get .windows $hostname).packages.winget.preCmd "" }}
  {{ or .windows.user.packages.winget.preCmd "" }}
  {{ $sudo_pkgs := concat (or (get .windows $hostname).packages.winget.apps.sudo list) (or .windows.user.packages.winget.apps.sudo list) }}
  {{ if ne (len $sudo_pkgs) 0 }}
  sudo winget install `
    --accept-package-agreements `
    --accept-source-agreements `
    --disable-interactivity `
    --exact `
    --no-upgrade `
    --silent `
    {{ if or (hasKey (get .windows $hostname).packages "chocolatey") (hasKey .windows.user.packages "chocolatey")}}Chocolatey.Chocolatey `{{ end }}
    {{- range (get .windows $hostname).packages.winget.extraOptions }}
    {{ . }} `
    {{- end }}
    {{- range .windows.user.packages.winget.extraOptions }}
    {{ . }} `
    {{- end }}
    {{ $sudo_pkgs | join " `\n    " }}
  {{ end }}
  {{ $no_sudo_pkgs := concat (or (get .windows $hostname).packages.winget.apps.no_sudo list) (or .windows.user.packages.winget.apps.no_sudo list) }}
  {{ if ne (len $no_sudo_pkgs) 0 }}
  winget install `
    --accept-package-agreements `
    --accept-source-agreements `
    --disable-interactivity `
    --exact `
    --no-upgrade `
    --silent `
    {{- range (get .windows $hostname).packages.winget.extraOptions }}
    {{ . }} `
    {{- end }}
    {{- range .windows.user.packages.winget.extraOptions }}
    {{ . }} `
    {{- end }}
    {{ $no_sudo_pkgs | join " `\n    " }}
  {{ end }}
}

Write-Host "Finish installing winget packages for system!"

{{ end }}
