{{- $hostName := .chezmoi.hostname -}}
{{- $hostDefenderConfig := or (get (or (get .windows.hosts $hostName) dict) "defender") dict -}}
# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
        $CommandLine = "-NoProfile -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
        Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
        Exit
    }
}
$FNAME=Split-Path -Path $MyInvocation.MyCommand.Path -Leaf
function Logging($1) {
    Write-Output "${FNAME}: $1"
}

Logging "Start"

{{ range (concat .windows.system.defender.exclution_paths (or (get $hostDefenderConfig "exclution_paths") list)) -}}
Add-MpPreference -ExclusionPath {{ . | quote }}
{{ end }}

Logging "Finish"
Start-Sleep -Seconds 1
