{{- $os := .chezmoi.os -}}
{{- $osConfig := or (get . $os) dict -}}

{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get (or (get $osConfig "hosts") dict) $hostName) dict -}}
{{- $hostPkgConfigs := or (get $hostConfig "packages") dict -}}

{{- $userName := .chezmoi.username -}}
{{- $userConfig := or (get (or (get $osConfig "users") dict) $userName) dict -}}
{{- $userPkgConfigs := or (get $userConfig "packages") dict -}}

{{- $useMise := has "mise" (concat ($hostPkgConfigs | keys) ($userPkgConfigs | keys) | uniq) -}}
$FNAME=Split-Path -Path $MyInvocation.MyCommand.Path -Leaf
function Logging($1) {
    Write-Output "${FNAME}: $1"
}

$env:PATH="$env:USERPROFILE\\scoop\\shims;$env:USERPROFILE\\.local\\bin;"+$env:PATH

try {
    Get-Command -Name mise -ErrorAction Stop
} catch [System.Management.Automation.CommandNotFoundException] {
    Logging "'mise' is not exist in your machine."
    Logging "Must install 'mise' first before installing packages."
    Exit 1
}

Logging "Installing packages..."
mise install
{{- end }}
