{{- $hostName := .chezmoi.hostname -}}
{{- $hostSopsConfig := or (get (or (get .windows.hosts $hostName) dict) "sops") dict -}}

{{- $userName := trimPrefix (print (upper .chezmoi.hostname) "\\") .chezmoi.username -}}
{{- $userSopsConfig := or (get (or (get .windows.users $userName) dict) "sops") dict -}}

if (Get-Command * | Where-Object { $_.Name -match "sops" }) {
    $SOPS_AGE_KEY_FILE="$env:USERPROFILE\.config\sops\age\keys.txt"
    {{- $chezmoiSrcDir := .chezmoi.sourceDir -}}
    {{ range $src, $tgt := merge $hostSopsConfig $userSopsConfig    }}
    Write-Host "Decrypting {{ $src }}"
    New-Item $(Split-Path -Parent {{ $tgt }}) -ItemType Directory -Force
    sops decrypt "{{ $chezmoiSrcDir }}\..\sops\{{ $src }}" | Out-File -FilePath {{ $tgt }} -Encoding ascii -Force
    {{ end }}
    Write-Host "Finish!"
} else {
    Write-Host "'sops' is not in PATH"
}
