{{ $hostName := .chezmoi.hostname -}}
{{ $hostPkgConfigs := or (get (or (get .windows.hosts $hostName) dict) "packages") dict -}}
{{ $hostPSConfig := or (get $hostPkgConfigs "powershell") dict -}}

{{- $userName := trimPrefix (print (upper .chezmoi.hostname) "\\") .chezmoi.username -}}
{{- $userPkgConfigs := or (get (or (get .windows.users $userName) dict) "packages") dict -}}
{{- $userPSConfig := or (get $userPkgConfigs "powershell") dict -}}
$FNAME=Split-Path -Path $MyInvocation.MyCommand.Path -Leaf
function Logging($1) {
    Write-Output "${FNAME}: $1"
}

Logging "Start"

Install-PackageProvider -Name NuGet -MinimumVersion 2.8.5.201 -Force

{{ or (get $hostPSConfig "extraPreInstall") "" }}
{{ or (get $userPSConfig "extraPreInstall") "" }}

{{ range concat (or (get $hostPSConfig "modules") list) (or (get $userPSConfig "modules") list) -}}
Install-Module -Scope CurrentUser -Force {{ . }}
{{ end }}

Logging "Installing PowerShell Scripts ..."
{{ range concat (or (get $hostPSConfig "scripts") list) (or (get $userPSConfig "scripts") list) -}}
Install-Scripts -Scope CurrentUser -Force {{ . }}
{{ end }}

{{ or (get $hostPSConfig "extraPostInstall") "" }}
{{ or (get $userPSConfig "extraPostInstall") "" }}

Logging "Finish"
