{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get .windows.hosts $hostName) dict -}}
{{- $hostPkgConfigs := or (get $hostConfig "packages") dict -}}
{{- $hostChocoConfig := or (get $hostPkgConfigs "chocolatey") dict -}}

{{- $userName := trimPrefix (print (upper .chezmoi.hostname) "\\") .chezmoi.username -}}
{{- $userPkgConfigs := or (get (or (get .windows.users $userName) dict) "packages") dict -}}
{{- $userChocoConfig := or (get $userPkgConfigs "chocolatey") dict -}}
if (Get-Command * | Where-Object { $_.Name -match "choco" }) {
    {{ or (get $hostChocoConfig "preInstallExtra") "" }}
    {{ or (get $userChocoConfig "preInstallExtra") "" }}

    {{- $sudo_pkgs := concat (or (get (or (get $hostChocoConfig "apps") dict) "sudo") list) (or (get (or (get $userChocoConfig "apps") dict) "sudo") list) -}}
    {{- $extraOptions := concat (or (get $hostChocoConfig "extraOptions") list) (or (get $userChocoConfig "extraOptions") list) -}}
    {{ if and (ne (len $sudo_pkgs) 0) (or (get $hostConfig "owner") false) -}}
    sudo choco install -y {{ $extraOptions | join " " }} `
        {{ $sudo_pkgs | join " `\n        " }}
    {{ end }}

    {{- $no_sudo_pkgs := concat (or (get (or (get $hostChocoConfig "apps") dict) "no_sudo") list) (or (get (or (get $userChocoConfig "apps") dict) "no_sudo") list) -}}
    {{ if ne (len $no_sudo_pkgs) 0 }}
    choco install -y {{ $extraOptions | join " " }} `
        {{ $no_sudo_pkgs | join " `\n        " }}
    {{ end }}

    {{ or (get $hostChocoConfig "postInstallExtra") "" }}
    {{ or (get $userChocoConfig "postInstallExtra") "" }}
}

Write-Host "Finish installing chocolatey packages!"
