{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get .windows.hosts $hostName) dict -}}

# Self-elevate the script if required
if (-Not ([Security.Principal.WindowsPrincipal] [Security.Principal.WindowsIdentity]::GetCurrent()).IsInRole([Security.Principal.WindowsBuiltInRole] 'Administrator')) {
    if ([int](Get-CimInstance -Class Win32_OperatingSystem | Select-Object -ExpandProperty BuildNumber) -ge 6000) {
        $CommandLine = "-NoProfile -File `"" + $MyInvocation.MyCommand.Path + "`" " + $MyInvocation.UnboundArguments
        Start-Process -Wait -FilePath PowerShell.exe -Verb Runas -ArgumentList $CommandLine
        Exit
    }
}
{{ range $key, $value := (merge .windows.system.registers (or (get $hostConfig "registers") dict)) -}}
Write-Host "Set {{ $value.name }} is {{ $value.value }}"
Set-ItemProperty {{ $key | quote }} -Name {{ $value.name | quote }} -Value {{ $value.value }}
{{ end -}}

{{ if hasKey $hostConfig "natural_scroll" }}
$OS = Get-WmiObject -Class Win32_OperatingSystem
$OSVersion = $OS.Version
if ($OSVersion -ge "10.0.22631") { # first build number of 24H2 is 22631
    Write-Host "Can enable natural scrolling at settings->device->mouse"
} else {
    # Enable/Disable natural-scroll (from: https://gist.gitub.com/gagarine/d313ee6510009b3f3973c6e0929b1e1c)
    # windows 11 23H2 and older
    $mode={{ hasKey $hostConfig "natural_scroll" | quote }}
    Get-PnpDevice -Class Mouse -PresentOnly -Status OK | ForEach-Object { "$($_.Name): $($_.DeviceID)"; Set-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Enum\$($_.DeviceID)\Device Parameters" -Name FlipFlopWheel -Value $mode; "+--- Value of FlipFlopWheel is set to " + (Get-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Enum\$($_.DeviceID)\Device Parameters").FlipFlopWheel + "`n" }
}
{{- end }}

Write-Host "Finish register settings!"
Write-Host "Close after 3s..."
Start-Sleep -Seconds 3
exit
