{{- if (ne .chezmoi.os "windows") -}}
{{- $os := .chezmoi.os -}}

{{- $os := .chezmoi.os -}}
{{- $osConfig := or (get . $os) dict -}}

{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get (or (get $osConfig "hosts") dict) $hostName) dict -}}
{{- $hostExternals := or (get $hostConfig "externals") list -}}

{{- $userName := .chezmoi.username -}}
{{- $userConfig := or (get (or (get $osConfig "users") dict) $userName) dict -}}
{{- $userExternals := or (get $userConfig "externals") list -}}

{{- $externals := concat $hostExternals $userExternals | uniq -}}
{{- if (has "blesh" $externals) -}}
[".local/share/blesh"]
url = "https://github.com/akinomyoga/ble.sh/releases/download/nightly/ble-nightly.tar.xz"
type = "archive"
refreshPeriod = "168h"
stripComponents = 1
include = ["*/**"]
{{- end }}
{{- end }}
