{{ if eq .chezmoi.os "linux" }}
{{- $os := .chezmoi.os -}}
{{- $externals := get (get . $os) "externals" -}}
{{ if (has "tmux" $externals) -}}
[".local/bin/tmux"]
url = "https://github.com/pythops/tmux-linux-binary/releases/download/{{ (gitHubLatestRelease "pythops/tmux-linux-binary").TagName }}/tmux-linux-{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else if eq .chezmoi.arch "arm64" }}arm64{{ end }}"
type = "file"
# Third party URL (official repo not providing binaries)
# fork nelsonenzo/tmux-appimage and build AppImage latest release
executable = true
readonly = true
refreshPeriod = "168h"
{{ end }}
{{ end }}
