{{- $os := .chezmoi.os -}}
{{- $osConfig := or (get . $os) dict -}}

{{- $hostName := .chezmoi.hostname -}}
{{- $hostConfig := or (get (or (get $osConfig "hosts") dict) $hostName) dict -}}
{{- $hostExternals := or (get $hostConfig "externals") list -}}

{{- $userName := .chezmoi.username -}}
{{ if eq .chezmoi.os "windows" }}
{{- $userName = trimPrefix (print (upper .chezmoi.hostname) "\\") $userName -}}
{{- end -}}
{{- $userConfig := or (get (or (get $osConfig "users") dict) $userName) dict -}}
{{- $userExternals := or (get $userConfig "externals") list -}}

{{- $externals := concat $hostExternals $userExternals | uniq -}}
{{- if (has "wezterm" $externals) -}}
[".local/bin/wezterm"]
type = {{ if eq .chezmoi.os "linux" }}"file"{{ else }}"archive-file"{{ end }}
{{ if eq .chezmoi.os "linux" -}}
url = "{{ gitHubLatestReleaseAssetURL "wez/wezterm" "WezTerm-*.AppImage" }}"
{{ else if eq .chezmoi.os "darwin" -}}
url = "{{ gitHubLatestReleaseAssetURL "wez/wezterm" "WezTerm-macos-*.zip" }}"
{{ else -}}
url = "{{ gitHubLatestReleaseAssetURL "wez/wezterm" "WezTerm-windows-*.zip" }}"
{{- end -}}
path = "WezTerm{{ if eq .chezmoi.os "windows" }}-windows{{ else if eq .chezmoi.os "darwin" }}-macos{{ end }}-{{ (gitHubLatestRelease "wez/wezterm").TagName }}/wezterm"
executable = true
refreshPeriod = "168h"
{{- end -}}
