name: build check
on:
  pull_request:

permissions:
  actions: read
  attestations: read
  checks: read
  contents: read
  deployments: read
  discussions: read
  id-token: write
  issues: read
  packages: read
  pages: read
  pull-requests: read
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  pre-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "build check"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}

  pre-build:
    runs-on: ubuntu-latest
    outputs:
      check: ${{ steps.change.outputs.nix }}
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/flake-checker-action@main
      - uses: dorny/paths-filter@v3
        id: change
        with:
          filters: |
            nix:
              - "**.nix"
              - "flake.lock"
              - chezmoi/.chezmoidata/apps/**
              - chezmoi/.chezmoitemplates/starship/**

  build-check-matrix:
    needs: [pre-build]
    if: needs.pre-build.outputs.check == 'true'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        hostname:
          [
            "mother",
            "stacia",
            "zephyrus",
            "liveimg-minimal-iso",
            "liveimg-gnome-iso",
          ]
    steps:
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: "rampage" # Options: holster, carve, cleave (default), rampage
          root-safe-haven: "8192"

      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
            connect-timeout = 15
            cores = 2
            http-connections = 25
            max-jobs = 2
            stalled-download-timeout = 15

        #NOTE: Limit cpu usage because pytest often cannot connect to the server under high cpu load.
      - run: nix profile add nixpkgs#cpulimit

      - name: Build check
        timeout-minutes: 70
        run: cpulimit -l 90 -i -- nix build --no-link ".#nixosConfigurations.${{ matrix.hostname }}.config.system.build.toplevel"

  build-check-matrix-darwin:
    needs: [pre-build]
    if: needs.pre-build.outputs.check == 'true'
    runs-on: macos-26
    strategy:
      fail-fast: false
      matrix:
        hostname: ["work"]
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            accept-flake-config = true
            connect-timeout = 15
            http-connections = 25
            max-jobs = 3
            stalled-download-timeout = 15

      - name: Remove unused packages of macos
        if: runner.os == 'macOS'
        run: |
          df -h
          # shellcheck disable=SC2046
          brew uninstall --force $(brew list)
          brew cleanup

          sudo rm -rf /Applications/Xcode.app
          sudo xcode-select --reset
          sudo rm -rf /Library/Developer/CommandLineTools
          sudo rm -rf ~/Library/Developer/Xcode
          df -h

      - name: Build check
        timeout-minutes: 70
        run: nix run nix-darwin/master#darwin-rebuild -- build --flake ".#${{ matrix.hostname }}"

  build-check-summary:
    runs-on: ubuntu-latest
    needs: [pre-build, build-check-matrix, build-check-matrix-darwin]
    if: ${{ !cancelled() }}
    steps:
      - name: build-check-skipped
        if: ${{ needs.pre-build.outputs.check == 'false' && needs.build-check-matrix.result == 'skipped' }}
        run: |
          exit 0
      - name: build-check-success
        if: ${{ needs.pre-build.outputs.check == 'true' && needs.build-check-matrix.result == 'success' }}
        run: |
          exit 0
      - name: build-check-failed
        if: ${{ needs.pre-build.outputs.check == 'true' && needs.build-check-matrix.result != 'success' }}
        run: |
          exit 1

  post-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    needs: [pre-workflow, build-check-summary]
    if: ${{ !cancelled() }}
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "build check"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}
