name: Build check
on:
  pull_request:

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 8192
          swap-size-mb: 1024
          build-mount-path: "/nix/store"
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true

      - uses: actions/checkout@v3.3.0

      - name: Cache nvfetcher
        uses: actions/cache@v3.2.6
        with:
          path: ~/.local/share/nvfetcher
          key: ${{ runner.os }}-nvfetcher

      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v12
        with:
          name: misumisumi
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          skipPush: true

      - name: Run flake build
        run: nix run "github:nix-community/home-manager" -- build --dry-run --flake ".#full"

      - name: Save PR number
        run: echo $GITHUB_REF | sed -e 's/[^0-9]//g' > pr-number.txt

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: pr-number
          path: pr-number.txt
          retention-days: 7
