name: reviewdog
on:
  pull_request:

permissions:
  actions: read
  attestations: read
  checks: write
  contents: read
  deployments: read
  discussions: read
  id-token: write
  issues: read
  packages: read
  pages: read
  pull-requests: write
  repository-projects: read
  security-events: read
  statuses: read

jobs:
  pre-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "reviewdog"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}

  reviewdog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: reviewdog/action-setup@v1
        with:
          reviewdog_version: latest

      - uses: cachix/install-nix-action@V28
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ github.token }}

      - run: nix profile install nixpkgs#statix nixpkgs#typos nixpkgs#actionlint

      - name: Run reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
        run: |
          reviewdog -reporter=github-pr-review -fail-on-error

  post-workflow:
    uses: ./.github/workflows/agent-of-me.yml
    needs: reviewdog
    with:
      pr-number: ${{ github.event.pull_request.number }}
      triggered-name: "reviewdog"
    secrets:
      AGENT_OF_ME_APP_ID: ${{ secrets.AGENT_OF_ME_APP_ID }}
      AGENT_OF_ME_PRIVATE_KEY: ${{ secrets.AGENT_OF_ME_PRIVATE_KEY }}
