name: update repository
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: "0 19 * * 5" # runs weekly on Saturday at 04:00 (JST)

permissions:
  contents: write
  pull-requests: write

jobs:
  update-repo:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'misumisumi'
    steps:
      - uses: actions/checkout@v4

      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: DeterminateSystems/update-flake-lock@v23
        id: update
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-msg: "chore(flake.lock): auto update flake.lock"
          pr-title: "chore(flake.lock): auto update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            automated

      - name: Check evaluation warning
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          nix run nixpkgs#nixos-rebuild dry-build --flake ".#liveimg-gui-full" --option pure-eval false --option eval-cache false 2>&1 | grep "evaluation warning" > eval_warning.log
          gh issue create -t "Evaluation Warning" -F eval_warning.log -l deprecated
